name: CI
on: [push, pull_request]
env:
  tags: 'v0.2'

jobs:
  go_build:
    runs-on: ${{ matrix.os }}
    if: ${{ github.ref != 'refs/tags/flux' && github.ref != 'refs/heads/deploy' }}
    strategy:
      matrix:
        go-version: [1.15.x]
        os: [ubuntu-latest]
    env:
      GOPATH: ${{ github.workspace }}/GOHOME
      GO11MODULE: off
      CGO_ENABLED: 0
      GOOS: linux
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: ${{ github.workspace }}/GOHOME/src/github.com/${{ github.repository }}
    - run: echo "::set-output name=sha8::$(echo ${GITHUB_SHA} | cut -c1-8)"
      id: slug
    - name: Setup Env
      uses: actions/setup-go@v2
      with:
        path: ${{ github.workspace }}/GOHOME
        go-version: ${{ matrix.go-version }}
    - name: GO Get 
      run: |
        go get github.com/rakyll/statik 
    - name: GO Test
      run: |
        cd ${{ github.workspace }}/GOHOME/src/github.com/${{ github.repository }}/hola/
        go test -v
    - name: GO BUILD
      run: |
        cd ${{ github.workspace }}/GOHOME/src/github.com/${{ github.repository }}/hola/
        go build -ldflags="-w -s" -a -installsuffix cgo
    - name: Sent Noti
      if: ${{ always() }}
      uses: DTherHtun/google-chat-action@v0.8
      with:
        project: ${{ github.repository }}
        commit: ${{ steps.slug.outputs.sha8 }}
        branch: ${{ github.ref }}
        status: ${{ job.status }}
        actionid: ${{ github.repository }}/actions/runs/${{ github.run_id }}
        webhook: "https://chat.googleapis.com/v1/spaces/AAAAYTX-Vqs/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=Iwtvo1dwg36dZgUyrUCREQGGMrO71PkIoQGafOf17Yg%3D&threadKey=git-commit"

  docker_bp:
    runs-on: ubuntu-latest
    needs: [go_build]
    if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
    env:
      GOPATH: ${{ github.workspace }}/GOHOME
    steps: 
    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: ${{ github.workspace }}/GOHOME/src/github.com/${{ github.repository }}
    - name: Build & push
      run: |
        cd ${{ github.workspace }}/GOHOME/src/github.com/${{ github.repository }}/hola/
        echo "${{ secrets.GH_TOKEN }}" | docker login ghcr.io -u dtherhtun --password-stdin
        docker build -t ghcr.io/dtherhtun/web-app-flux:${{ env.tags }} .
        docker push ghcr.io/dtherhtun/web-app-flux:${{ env.tags }}

  push_k8s_manifest:
    runs-on: ubuntu-latest
    needs: [docker_bp]
    if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
    steps: 
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: deploy
    - name: Change Images tags
      run: |
        sed -i 's+dther/web-app-flux:.*$*+dther/web-app-flux:${{ env.tags }}+' ./kustomize/bases/hola/deployment.yaml
        echo ${GITHUB_SHA} > uniqe_sha.txt
    - name: Validate kustomization
      uses: stefanprodan/kube-tools@v1
      with:
        command: |
          kustomize build ./kustomize/overlays/qa/ | kubeval --strict
          kustomize build ./kustomize/overlays/qa/ | conftest test -p .github/policies -
          kustomize build ./kustomize/overlays/production/ | kubeval --strict
          kustomize build ./kustomize/overlays/production/ | conftest test -p .github/policies -
          kustomize build ./kustomize/overlays/sockshop/ | kubeval --strict
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "Change image version to ${{ env.tags }} " -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GH_TOKEN }}
        branch: deploy
